/* color palette from <https://github.com/vuejs/theme> */
@font-face {
  font-family: 'Jakarta Regular';
  src: url(../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}
@font-face{
  font-family: 'Jakarta Medium';
  src: url(../assets/fonts/static/PlusJakartaSans-Medium.ttf);
}
@font-face{
  font-family: 'Jakarta Bold';
  src: url(../assets/fonts/static/PlusJakartaSans-ExtraBold.ttf);
}
:root {
  --mobile-width: 375px;
  --desktop-width: 1440px;
  --primary-red: hsl(1, 90%, 64%);
  --primary-blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
  --paragraph-font-size: 16px;
  
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

h1,h2{
  font-family: 'Jakarta Bold', sans-serif;
}
